.login-section {
  width: 100%;
  background-color: $brand-primary;
  position:absolute;
  bottom: 0;
  top: 0;

  &__content {
    text-align: center;
    clear: both;
  }

  .ask-login {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 375px;

    &__submit-button {
      @extend .btn-primary, .btn-block;
    }
  }
}
